/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mdma0/si1430.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fsjw0/si1333.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fdfb0/sx58.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fmpg0/si2232.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mmcc0/sx438.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mprb0/si1215.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fdmy0/si567.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mdns0/sx111.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mdlm0/si1864.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fgcs0/sx46.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mmbs0/si521.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/flkm0/sx350.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/mbma1/sx144.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mtdp0/sx261.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fsdc0/sx142.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fksr0/sx37.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mtmn0/sx344.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/madc0/sx17.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mdsj0/sx382.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mwdk0/sx176.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mntw0/sx168.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fksr0/si1117.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mrab0/sx234.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mfxv0/sx105.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mree0/sx294.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mfrm0/sx75.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/fhxs0/si1075.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mlns0/sx147.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mwch0/sx182.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/feme0/sx245.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjae0/sx354.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mkxl0/sx105.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mtmn0/sx74.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/fdml0/si1149.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/mrxb0/si1585.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/msfv0/sx92.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mkxl0/si1958.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mrds0/sx87.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mrfl0/sx256.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/msat0/sx446.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mdlr0/sx423.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mdbp0/si528.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fbjl0/sx382.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mrjt0/sx148.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/msat1/sx353.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/fmbg0/si1790.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mfwk0/sx79.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mtcs0/si1972.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mdhl0/si1439.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mdlr1/si669.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjrp0/sx405.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mter0/sx77.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/majp0/sx174.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mbcg0/sx147.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mfxs0/sx54.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/mkes0/sx173.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/flod0/sx207.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mjfh0/sx207.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fksr0/si487.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fmah1/sx249.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mejs0/sx430.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mdpb0/si2126.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mmds0/sx83.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/ftbw0/si715.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/maeo0/si1655.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mtcs0/si2265.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mtqc0/sx91.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/ftaj0/si474.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fsrh0/sx41.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fjhk0/sx32.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mhmg0/sx195.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mmag0/sx46.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mprb0/sx305.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fear0/si1882.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/marw0/sx376.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mdac0/si631.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mgsl0/sx354.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mtmn0/si2324.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/fsdj0/sx395.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/madc0/sx107.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/madd0/sx178.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/msds0/sx177.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mrsp0/si2059.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/falk0/sx366.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mbjv0/si617.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjmd0/si1028.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mlel0/si616.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mprt0/sx40.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mrab1/sx38.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mmeb0/sx97.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fleh0/sx421.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fpjf0/sx236.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/fssb0/sx272.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fpmy0/sx163.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mejs0/sx70.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mmaa0/sx305.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/ftaj0/sx249.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/flac0/sx451.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/flet0/sx277.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mhxl0/si612.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mcdd0/sx433.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mgak0/si1036.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mejs0/si1870.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mdlr1/sx309.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fljd0/sx76.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mtpr0/sx340.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/fclt0/si808.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mkam0/sx416.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mchl0/si1977.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fblv0/si1688.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/fbas0/sx37.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mrlr0/si566.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mjrh0/si1125.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mesg0/si1962.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mrav0/si1008.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mreh1/sx69.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mdma0/sx350.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/fsah0/si1244.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fskc0/si1416.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mkdd0/sx127.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mrav0/sx378.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mmxs0/sx246.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mmgc0/si1305.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mtjs0/si562.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mljh0/sx334.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mdsj0/sx112.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fpaz0/si963.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fntb0/sx393.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mmaa0/sx35.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjmd0/sx398.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mdlc2/sx264.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mdss1/sx67.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mdpk0/sx333.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mtpr0/sx430.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mwac0/si971.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/fvfb0/sx312.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mesg0/sx72.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mctm0/sx270.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mrsp0/si799.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mwem0/sx330.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mmcc0/sx348.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mljh0/sx244.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/makr0/si1352.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fcdr1/sx196.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fsls0/si2316.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/mejl0/sx62.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/fjwb1/si795.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/freh0/si685.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mgjc0/sx75.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fpac0/sx31.dist
