/Experiments/tongue_twisters/data/test/dr7/fdhc0/si2189.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/si1370.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/si923.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/sx275.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/sx109.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/si950.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/sx214.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/sx99.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/sx188.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/sx43.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/sx143.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/si2183.dist
/Experiments/tongue_twisters/data/test/dr7/fdhc0/sx119.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/si1386.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/si1354.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/sx140.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/sx293.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/si2168.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/si1902.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/sx185.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/sx318.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/sx394.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/sx284.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/sx279.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/sx98.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/sx317.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/sx203.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/sx368.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/sx289.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/sx10.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/sx224.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/sx403.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/sx104.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/si2299.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/sx223.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/si1039.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/si1043.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/si756.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/sx205.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/sx295.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/sx371.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/sx139.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/sx194.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/sx192.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/si1553.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/si1843.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/sx200.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/sx230.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/sx115.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/si947.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/si1584.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/sx410.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/sx118.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/sx13.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/si2204.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/si2080.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/sx199.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/sx281.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/sx323.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/si908.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/si731.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/si1473.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/sx100.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/si1272.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/sx314.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/sx274.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/si1564.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/sx313.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/sx404.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/si2210.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/si1577.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/sx103.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/sx95.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/sx290.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/sx373.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/si1669.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/si944.dist
/Experiments/tongue_twisters/data/test/dr7/fdhc0/sx29.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/sx36.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/si1991.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/si2185.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/sx137.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/si583.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/sx50.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/si733.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/si678.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/si1580.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/sx25.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/sx110.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/sx20.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/si1993.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/si925.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/sx134.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/sx216.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/sx280.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/sx283.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/sx19.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/sx101.dist
/Experiments/tongue_twisters/data/test/dr7/fdhc0/sx389.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/si1538.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/sx278.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/sx49.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/sx126.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/sx94.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/sx53.dist
/Experiments/tongue_twisters/data/test/dr7/fdhc0/sx299.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/si1535.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/si1791.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/sx379.dist
/Experiments/tongue_twisters/data/test/dr7/fdhc0/si1559.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/sx409.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/sx385.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/sx383.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/si1574.dist
/Experiments/tongue_twisters/data/test/dr7/fdhc0/si929.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/si2098.dist
/Experiments/tongue_twisters/data/test/dr3/fpkt0/sx8.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/sx102.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/si819.dist
/Experiments/tongue_twisters/data/test/dr7/mnjm0/sx320.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/si1449.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/sx364.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/sx369.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/sx28.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/si838.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/sx396.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/sx47.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/sx124.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/sx190.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/sx12.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/sx304.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/si905.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/si1363.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/sx34.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/sx380.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/sx388.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/si1673.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/sx413.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/sx408.dist
/Experiments/tongue_twisters/data/test/dr7/fdhc0/sx209.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/si2079.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/si2194.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/sx113.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/si1213.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/si2000.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/sx229.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/sx306.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/sx228.dist
/Experiments/tongue_twisters/data/test/dr5/mklt0/sx133.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/sx189.dist
/Experiments/tongue_twisters/data/test/dr1/felc0/si2016.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/si1094.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/sx407.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/si1819.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/sx370.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/si2303.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/si1984.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/sx208.dist
/Experiments/tongue_twisters/data/test/dr4/fjlm0/sx233.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/sx374.dist
/Experiments/tongue_twisters/data/test/dr4/mlll0/sx193.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/sx11.dist
/Experiments/tongue_twisters/data/test/dr8/mjln0/sx9.dist
/Experiments/tongue_twisters/data/test/dr4/mtls0/si740.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/si642.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/si602.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/si1450.dist
/Experiments/tongue_twisters/data/test/dr1/mdab0/sx319.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/sx48.dist
/Experiments/tongue_twisters/data/test/dr6/fmgd0/si934.dist
/Experiments/tongue_twisters/data/test/dr1/mwbt0/sx23.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/si1361.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/sx5.dist
/Experiments/tongue_twisters/data/test/dr2/mtas1/sx298.dist
/Experiments/tongue_twisters/data/test/dr3/mjmp0/sx365.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/si464.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/si1189.dist
/Experiments/tongue_twisters/data/test/dr8/mpam0/si1961.dist
/Experiments/tongue_twisters/data/test/dr5/mbpm0/sx227.dist
/Experiments/tongue_twisters/data/test/dr8/fmld0/si822.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/si1308.dist
/Experiments/tongue_twisters/data/test/dr6/mcmj0/sx14.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/si1938.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/sx372.dist
/Experiments/tongue_twisters/data/test/dr2/fpas0/sx44.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/si724.dist
/Experiments/tongue_twisters/data/test/dr5/fnlp0/sx138.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/sx184.dist
/Experiments/tongue_twisters/data/test/dr7/mgrt0/si820.dist
/Experiments/tongue_twisters/data/test/dr6/mjdh0/sx4.dist
/Experiments/tongue_twisters/data/test/dr3/mlnt0/sx282.dist
/Experiments/tongue_twisters/data/test/dr2/mwew0/sx191.dist
