/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mwdk0/sx86.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/fmkc0/sx172.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mgrp0/sx417.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mtcs0/sx262.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fmpg0/sx162.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mvlo0/sx67.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mmcc0/si1968.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mdlc0/sx135.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fsmm0/sx54.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mrfl0/si526.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/fpad0/si1976.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mkjo0/si887.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fcyl0/sx127.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mdns0/sx21.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr8/mmlm0/sx357.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjrp0/sx315.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/fjdm2/sx142.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/msat1/si1703.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mhit0/sx353.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fgmb0/sx245.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mcth0/si1839.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/frll0/si805.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjhi0/si555.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/fsjk1/sx305.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mcre0/sx131.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/mrxb0/sx145.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/fpaf0/si2314.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjpm0/sx18.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mrjt0/si1498.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fcke0/sx31.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mmrp0/si2034.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mdwm0/sx16.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fgrw0/si1990.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/fsak0/sx220.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mkag0/sx259.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fdas1/si831.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mbef0/sx111.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/mrmb0/sx51.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/fjwb1/sx435.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fljg0/sx441.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fsjg0/sx310.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mgxp0/sx187.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mrlr0/sx386.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/msdb0/sx377.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mfmc0/sx412.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fsls0/sx156.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mwgr0/si2236.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mjlb0/si2246.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mjrh0/sx135.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fcaj0/sx129.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mmag0/si496.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mbar0/sx59.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/meal0/si2177.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mdtb0/si1200.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mdwd0/si1260.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fltm0/si1070.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fajw0/si633.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mbgt0/sx261.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/ftbw0/si1345.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mmgc0/sx225.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/fear0/si1252.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fjkl0/sx392.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mdac0/sx181.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mwem0/sx150.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mjwg0/sx85.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mgsl0/sx444.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mrpc1/si1482.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mrso0/sx309.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mjrh0/si1840.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mrjm1/sx218.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fgcs0/si1486.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/mrxb0/si2215.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mwsh0/sx346.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fltm0/sx260.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mbom0/sx384.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fdfb0/si1318.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mmcc0/sx258.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mwsb0/si996.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fdas1/si1461.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mjjb0/si1139.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/mgag0/sx241.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mklw0/sx131.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr4/fssb0/si1082.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/fhlm0/si1560.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mdlm0/sx424.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr5/mrew1/si870.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr1/mtpf0/sx65.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/flet0/sx237.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mtab0/si942.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fmjf0/sx444.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/fbch0/sx236.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mkdt0/sx443.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fcke0/sx391.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjde0/sx40.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr6/fklc1/sx148.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/mdtb0/sx390.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr7/mtml0/sx345.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr3/fgcs0/sx226.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/mjeb0/sx386.dist
/Experiments/phoneme_alignment/timit_16kHz_48/data/train/dr2/flmc0/si2002.dist
