<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hadas.project_final" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Pronunciation Training" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_sound_recording_example2" >
        </activity>
        <activity
            android:name=".WordsActivity"
            android:label="@string/title_activity_words" >
        </activity>
        <activity
            android:name=".RandomActivity"
            android:label="@string/title_activity_random" >
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_scores" >
        </activity>
        <activity
            android:name=".ScoresActivity"
            android:label="@string/title_activity_history" >
        </activity>
    </application>

</manifest>
